/* cpf - context-panel-field */

.context-panel {
    --display: flex;
    width: 450px;
    height: 100%;
    background-color: rgb(230, 230, 230);
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 15px 10px;
    display: var(--display);
    overflow-x: auto;
}

.context-panel-separator {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    justify-content: space-between;
}

.context-panel-separator-text {
    width: 33%;
    text-align: center;
    font-size: 1.4rem;
}

.context-panel-separator-line {
    width: 20%;
    height: 2px;
    background-color: black;
}


.context-panel-footer {
    width: 100%;
    padding-bottom: 25px;
}

.cpf-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-bottom: 10px;
}

.cpf-container-label {
    display: block;
    width: 100%;
    text-align: center;
    height: fit-content;
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.cpf-inputs-holder {
    display: flex;
    justify-content: space-between;
}

.cpf-input-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.cpf-input-label {
    display: block;
    width: 100%;
    text-align: start;
    height: fit-content;
    margin-bottom: 2px;
    font-size: 1rem;
}

.cpf-input-holder {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}

.cpf-input-holder * {
    box-sizing: border-box;
    width: 100%;
    padding: 1px 3px;
}

.context-panel-text-editor {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: rgb(251, 251, 251);
    border-radius: 3px !important;
    border: 1px solid rgb(8, 8, 8) !important;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 47%;
}

.w-wide {
    width: 79%;
}

.w-middle {
    width: 58%;
}

.w-narrow {
    width: 17%;
}

.w-tiny {
    width: 10%;
}

.d-row {
    flex-direction: row;
}

.d-column {
    flex-direction: column;
}

.add-margin-bot {
    margin-bottom: 10px;
}

.anchor-button-activated {
    background-color: rgb(107, 63, 148);
    color: white;
}